body {
  margin: 0;
  background-color: silver;
  .container {
    position: absolute;
    top: 40%;
    left: 36%;
    border: 3px solid black;
    box-shadow: 10px 10px 10px black;
    color: white;
    text-shadow: 3px 3px 4px black;
    border-radius: 10px;
    width: 30%;
    font-size: 2em;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.445);

    select {
      background-color: silver;
      width: 6vw;
      height: 4vh;
      font-size: 0.6em;
      font-weight: bolder;
      border-radius: 10px;
      text-align: center;
    }
    #per {
      width: 15vw;
    }
    #zuE2 {
      display: none;
    }
    .number {
      background-color: silver;
      width: 20vw;
      height: 4vh;
      font-size: 0.6em;
      font-weight: bolder;
      border-radius: 10px;
      text-align: center;
    }
    #ergebniss {
      text-align: center;
      animation-name: erg;
      animation-duration: 0.2s;
      animation-iteration-count: infinite;
    }
    @keyframes erg {
      0% {
        color: white;
      }
      100% {
        color: rgb(255, 0, 0);
      }
    }
  }
}
